<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>youyin</display-name>

	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>liuyan.youyin.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ordercreate</servlet-name>
		<servlet-class>liuyan.youyin.controller.OrderCreateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostTest</servlet-name>
		<servlet-class>liuyan.youyin.controller.PostTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NodeConnection</servlet-name>
		<servlet-class>liuyan.youyin.controller.NodeConnection</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JSSDK_config</servlet-name>
		<servlet-class>liuyan.youyin.controller.JSSDK_config</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FirstServlet</display-name>
		<servlet-name>FirstServlet</servlet-name>
		<servlet-class>liuyan.youyin.controller.FirstServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MachineLogin</servlet-name>
		<servlet-class>liuyan.youyin.controller.MachineLogin</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ordercreate</servlet-name>
		<url-pattern>/ordercreate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostTest</servlet-name>
		<url-pattern>/postTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NodeConnection</servlet-name>
		<url-pattern>/nodeconnection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSSDK_config</servlet-name>
		<url-pattern>/jssdk</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FirstServlet</servlet-name>
		<url-pattern>/first.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MachineLogin</servlet-name>
		<url-pattern>/machineLogin</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
